In [4]:
import pandas as pd

In [15]:
newDataset1_0 = pd.read_hdf("alBERTo\df_alberto_0.h5", mode="r")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\39379\AppData\Local\Temp\ipykernel_15768\1828333579.py:1: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_0 = pd.read_hdf("alBERTo\df_alberto_0.h5", mode="r")

In [5]:
newDataset1_0 = pd.read_hdf("alBERTo\df_alberto_0.h5",  mode="r")
newDataset1_1 = pd.read_hdf("alBERTo\df_alberto_1.h5",  mode="r")
newDataset1_2 = pd.read_hdf("alBERTo\df_alberto_2.h5",  mode="r")
newDataset1_3 = pd.read_hdf("alBERTo\df_alberto_3.h5",  mode="r")
newDataset1_4 = pd.read_hdf("alBERTo\df_alberto_4.h5",  mode="r")
newDataset1_5 = pd.read_hdf("alBERTo\df_alberto_5.h5",  mode="r")
newDataset1_6 = pd.read_hdf("alBERTo\df_alberto_6.h5",  mode="r")

dataset = pd.concat(
                    [newDataset1_0, 
                     newDataset1_1,
                     newDataset1_2, 
                     newDataset1_3, 
                     newDataset1_4, 
                     newDataset1_5, 
                     newDataset1_6]
                     )

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:1: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_0 = pd.read_hdf("alBERTo\df_alberto_0.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:2: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_1 = pd.read_hdf("alBERTo\df_alberto_1.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:3: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_2 = pd.read_hdf("alBERTo\df_alberto_2.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:4: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_3 = pd.read_hdf("alBERTo\df_alberto_3.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:5: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_4 = pd.read_hdf("alBERTo\df_alberto_4.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:6: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_5 = pd.read_hdf("alBERTo\df_alberto_5.h5",  mode="r")
C:\Users\39379\AppData\Local\Temp\ipykernel_15544\3008503158.py:7: SyntaxWarning: invalid escape sequence '\d'
  newDataset1_6 = pd.read_hdf("alBERTo\df_alberto_6.h5",  mode="r")

In [6]:
dataset

,gene_id,gene_type,split,labels,gene_name,TSS,chromosome_name,strand,fpkm_median,tpm_median,fpkm_uq_median,Seq
0,ENSG00000121410,protein_coding,train,0.128766,A1BG,58347673,chr19,-,-4.563199,-3.172669,-4.445362,"[3, 3, 1, 0, 0, 2, 0, 1, 1, 0, 2, 1, 1, 3, 2, ..."
1,ENSG00000148584,protein_coding,train,-1.442332,A1CF,50885633,chr10,-,-7.243318,-6.687800,-7.179188,"[3, 2, 3, 1, 0, 0, 0, 1, 0, 3, 1, 3, 3, 3, 2, ..."
2,ENSG00000175899,protein_coding,train,1.172033,A2M,9115927,chr12,-,5.214346,6.680884,5.391613,"[0, 3, 3, 3, 3, 1, 1, 0, 3, 2, 0, 2, 0, 0, 0, ..."
3,ENSG00000166535,protein_coding,train,-1.300226,A2ML1,8822627,chr12,+,-2.501443,-1.024150,-2.346665,"[3, 2, 1, 3, 2, 2, 0, 0, 2, 1, 1, 0, 1, 1, 0, ..."
4,ENSG00000128274,protein_coding,train,0.157178,A4GALT,42720879,chr22,-,2.025064,3.517855,2.194465,"[1, 0, 2, 2, 1, 0, 3, 2, 2, 3, 2, 2, 3, 2, 1, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
18049,ENSG00000250067,protein_coding,train,1.277756,YJEFN3,19639691,chr19,+,0.554245,2.024284,0.743644,"[2, 0, 0, 0, 3, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, ..."
18061,ENSG00000251655,protein_coding,train,-1.463212,PRB1,11508524,chr12,-,-7.643856,-7.643856,-7.643856,"[0, 2, 1, 3, 0, 2, 0, 0, 0, 3, 0, 1, 1, 0, 3, ..."
18071,ENSG00000254647,protein_coding,train,-1.463212,INS,2182434,chr11,-,-7.643856,-7.643856,-7.643856,"[2, 1, 3, 3, 2, 2, 0, 1, 1, 1, 1, 0, 1, 3, 2, ..."
18073,ENSG00000254685,protein_coding,train,0.350839,FPGT,74663926,chr1,+,1.582171,3.110397,1.757621,"[0, 0, 0, 1, 3, 2, 2, 1, 3, 0, 2, 1, 1, 0, 3, ..."
18111,ENSG00000257591,protein_coding,train,-0.034731,ZNF625,12267529,chr19,-,-3.878321,-2.445362,-3.712173,"[3, 2, 1, 0, 2, 2, 2, 2, 2, 1, 0, 2, 1, 0, 2, ..."

In [17]:
2**17

131072

In [14]:
dataset['TSS'][0]

58347673

In [18]:
dataset['Seq'][0].shape[0]

131072

In [ ]:
center = 2**16
k = 2**16